/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
config.edn
.lein-deps-sum
.lein-repl-history
.lein-plugins/

# datomic
resources/*-transactor-template.properties

# emacs
*~
\#*\#
.#*

# redis dumps
dump.rdb
