{:1388418412_add_notes
 {:txes [[;; notes attributes
          {:db/id #db/id[:db.part/db]
           :db/ident :note/guid
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/identity
           :db/index true
           :db.install/_attribute :db.part/db}

          {:db/id #db/id[:db.part/db]
           :db/ident :note/title
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/fulltext true
           :db/index true
           :db.install/_attribute :db.part/db}

          {:db/id #db/id[:db.part/db]
           :db/ident :note/body
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/identity
           :db/fulltext true
           :db/index true
           :db.install/_attribute :db.part/db}

          {:db/id #db/id[:db.part/db]
           :db/ident :note/articles
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc "Associate note with these articles"
           :db.install/_attribute :db.part/db}]]}}
