[
 ;; article attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :article/guid
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/original_url
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/readable_body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/original_html
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext false
  :db/index false
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/ingest_state
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/read
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}


 ;; article timestamps we care about
 {:db/id #db/id[:db.part/db]
  :db/ident :article/date_published
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/date_ingested
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
]
